.Box-container {
  margin-bottom: 5px;
  height: 499px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.thebox {
  padding-top: 10px;
  height: 97%;
  width: 98%;
  border: solid 0.25px;
  border-color: rgb(190, 190, 190);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  overflow: hidden;
}

.bar {
  content: " ";
  width: 50px;
  height: 0px;

  transition: all 0.5s ease;
}

.bar-sorted {
  background-color: rgb(0, 255, 149);
}

.bar-sorting {
  background-color: rgb(0, 174, 255);
}
